[submodule "chef-repo/cookbooks/apps"]
	path = chef-repo/cookbooks/apps
	url = git://github.com/getaroom/chef-apps.git
[submodule "chef-repo/cookbooks/minitest-handler"]
	path = chef-repo/cookbooks/minitest-handler
	url = git://github.com/btm/minitest-handler-cookbook.git
[submodule "chef-repo/cookbooks/chef_handler"]
	path = chef-repo/cookbooks/chef_handler
	url = git://github.com/opscode-cookbooks/chef_handler.git
[submodule "chef-repo/cookbooks/users"]
	path = chef-repo/cookbooks/users
	url = git://github.com/opscode-cookbooks/users.git
[submodule "chef-repo/cookbooks/nginx"]
	path = chef-repo/cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "chef-repo/cookbooks/build-essential"]
	path = chef-repo/cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "chef-repo/cookbooks/runit"]
	path = chef-repo/cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "chef-repo/cookbooks/bluepill"]
	path = chef-repo/cookbooks/bluepill
	url = git://github.com/opscode-cookbooks/bluepill.git
[submodule "chef-repo/cookbooks/yum"]
	path = chef-repo/cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "chef-repo/cookbooks/ohai"]
	path = chef-repo/cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
